#app {
    .el-aside {
        // width: $sideBarWidth !important;
        .el-scrollbar {
            background-color: $menuBg;
        }
    }
    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
        // min-width: $sideBarWidth !important;
        background-color: $subMenuBg !important;
        &:hover {
            background-color: $subMenuHover !important;
        }
    }
    .el-menu {
        border: none;
        height: 100%;        
    }
    // .el-menu--collapse .el-menu .el-submenu {
    //     min-width: $sideBarWidth !important;
    // }
}
