@font-face {
  font-family: "iconfont"; /* Project id 2508525 */
  src: url('iconfont.woff2?t=1619741317260') format('woff2'),
       url('iconfont.woff?t=1619741317260') format('woff'),
       url('iconfont.ttf?t=1619741317260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pc:before {
  content: "\e614";
}

.icon-help:before {
  content: "\e605";
}

.icon-linux:before {
  content: "\e6c1";
}

.icon-web:before {
  content: "\e610";
}

.icon-shortcut:before {
  content: "\e600";
}

.icon-monitor:before {
  content: "\e634";
}

.icon-newData:before {
  content: "\e6da";
}

.icon-dashboard:before {
  content: "\e79e";
}

.icon-setting:before {
  content: "\e7a3";
}

.icon-linechart:before {
  content: "\e7d1";
}

.icon-View:before {
  content: "\e9d2";
}

.icon-server:before {
  content: "\ec16";
}

.icon-config:before {
  content: "\e61b";
}

.icon-charge-device:before {
  content: "\e6e2";
}

