@import "./variables.module.scss";
@import "./sidebar.scss";
@import "./transition.scss";
@import "./btn.scss";

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}
.el-header {
  //background-color: $menuBg;
  //height: 50px !important;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.wsStatedot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 5px;
  background-color: rgb(56, 236, 56);
  animation: wsStatedotChange 1.5s infinite;
}
.wsStatedot.disconnected {
  background-color: rgb(238, 54, 54);
}
.wsStatedot.connected {
  background-color: rgb(56, 236, 56);
}
.wsStatedot.connecting {
  background-color: #e6a23c;
}
@keyframes wsStatedotChange {
  // from {
  //   background-color: rgba(56, 236, 56, 0);
  // }
  // to {
  //   background-color: rgba(56, 236, 56, 1);
  // }
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
